* {
  font-family: "Roboto", sans-serif;
}

.home__row button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.home {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 2em 0 0 0;
  margin: 0 auto;
}
.home svg {
  width: 100px;
  height: 40px;
  object-fit: contain;
}
.home__total {
  background-color: black;
}

.twoh1 {
  color: white;
  font-size: 3rem;

  font-weight: 900;
  margin: 6rem 0 0 7rem;
}
.twoh1 h1:first-child {
  padding-bottom: 2rem;
}
.twoh1firstp {
  padding: 1rem 0 3rem 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.twoh1secondp {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.twoh1 input,
.twoh1 button {
  width: 30%;
  background-color: black;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(53, 102, 53);
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  color: white;
  height: 3.4rem;
}

.twoh1 button {
  background-color: red;
  font-size: 1.6rem;
  width: 200px;
  text-align: center;
  border: none;
  font-weight: 500;
  margin-left: 0.5rem;
  padding: 0.6rem;
}
.twoh1 button::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\3e";
  margin-left: 0.5rem;
}


.curve {
  width: 100%;
  height: 10px;
  background-image: linear-gradient(to right, #4b0606, #1b0dde, #4b0606);
  border-radius: 50%/100% 100% 0 0;
  margin-bottom: 100px;
}
.card {
  width: 80%;
  margin-left: 5%;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  background-color: #3f152a;
  color: white;
  transition: transform 900ms;
  margin-bottom: 100px;
}
.card h3 {
  font-size: 2.5rem;
}
.card p {
  font-size: 1.3rem;
}
.card:hover {
  transform: scale(1.04);
  background: linear-gradient(to right, #641d3e, #360e2f);
}
.selection-option {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

label {
  margin-right: 10px;
}

select {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #007bff;
}
#selection {
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: 1.3rem;
}
.trending {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 5%;
}

.play {
  color: white;
  margin-top: 200px;
  margin-left: 5%;
  font-size: 1.5rem;
}

.backimage {
  background-image: linear-gradient(
      65deg,
      rgba(0, 0, 0, 0.9) 30%,
      rgba(0, 0, 0, 0.8965) 35.83%,
      rgba(0, 0, 0, 0.8861) 41.67%,
      rgba(0, 0, 0, 0.8688) 47.5%,
      rgba(0, 0, 0, 0.8444) 53.33%,
      rgba(0, 0, 0, 0.8132) 59.17%,
      rgba(0, 0, 0, 0.775) 65%,
      rgba(0, 0, 0, 0.7368) 70.83%,
      rgba(0, 0, 0, 0.7056) 76.67%,
      rgba(0, 0, 0, 0.6813) 82.5%,
      rgba(0, 0, 0, 0.6639) 88.33%,
      rgba(0, 0, 0, 0.6535) 94.17%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/b4c7f092-0488-48b7-854d-ca055a84fb4f/361232c5-0c99-480d-a955-aaa1e387e9c6/ET-en-20231204-popsignuptwoweeks-perspective_alpha_website_medium.jpg) !important;
  height: 590px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.joinhome {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
/* 

linear-gradient(65deg, rgba(0, 0, 0, 0.9000) 30.00%, rgba(0, 0, 0, 0.8965) 35.83%, rgba(0, 0, 0, 0.8861) 41.67%, rgba(0, 0, 0, 0.8688) 47.50%, rgba(0, 0, 0, 0.8444) 53.33%, rgba(0, 0, 0, 0.8132) 59.17%, rgba(0, 0, 0, 0.7750) 65.00%, rgba(0, 0, 0, 0.7368) 70.83%, rgba(0, 0, 0, 0.7056) 76.67%, rgba(0, 0, 0, 0.6813) 82.50%, rgba(0, 0, 0, 0.6639) 88.33%, rgba(0, 0, 0, 0.6535) 94.17%, rgba(0, 0, 0, 0.6500) 100.0%),url(https://assets.nflxext.com/ffe/siteui/vlv3/b4c7f092-0488-48b7-854d-ca055a84fb4f/361232c5-0c99-480d-a955-aaa1e387e9c6/ET-en-20231204-popsignuptwoweeks-perspective_alpha_website_medium.jpg) */
